name: DEPLOY NO S3

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.21.0
      - name: Install AWS
        run: pip install awscli
      - name: Install e build
        run: npm install && npm run build
        env:
            CI: false
      - name: Deploy AWS
        run: cd build && AWS_ACCESS_KEY_ID=AKIASH2OFMASBRQNK23D AWS_SECRET_ACCESS_KEY=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 aws s3 sync . s3//frstbckt --acl public-read --delete
